name: Run Tests for Microservices

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service: [posts, comments, query, event-bus, client, moderation]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          cd ${{ matrix.service }}
          npm install

      - name: Run tests
        run: |
          cd ${{ matrix.service }}
          npm test
